:root {
  --background-gradient: linear-gradient(to right, #28a745, #218838);
  --text-color: white;
  --link-color: #FFC107;
  --link-hover-color: #FF6347;
}

body {
  background: var(--background-gradient);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}
